<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        body {
            background-color: beige;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <form method="POST">
            <h1>Login</h1>
            {% if error %}
                <p style="color:red">{{ error }}</p>
            {% endif %}
            <img src="Scripture Search(1).png" alt="Scripture Search" width="100" height="100">
            <label>Username:</label><br>
            <input type="text" name="username"><br>
            <label>Password:</label><br>
            <input type="password" name="password"><br>
            <input type="submit" value="Login" style="padding:10px 20px; font-size: 20px;">
        </form>
        <p>Don't have an account? <a href="/signup">Sign up</a></p>
    </div>
</body>
</html>
