
<!DOCTYPE html>
<html>
<head>
	<title>Scripture API Search</title>
    <link rel="stylesheet" href='static/search.css'>
</head>
<body>
	<h1>Search Scripture In King James Bible</h1>
	<form action="/search" method="get">
		<label for="query">Search for Word:</label>
		<input type="text" id="query" name="query">
		<button type="submit">Search</button>
    
	</form>
  <p>Type a word and it will search the King James Bible for that word</p>
  <break></break>
  <p>It will then return the top ten verses that include the word.</p>
  
</body>
</html>